@CHARSET "ISO-8859-1";
.navbar-inverse-flat{
	background-color: rgb(61, 146, 185);
}
.navbar-inverse-flat > a{
	color: #fff;
}
.navbar-brand{
	padding: 8px 15px;
}
.btn-group-lg > .btn{
	padding: 8px 16px;
	color: #fff;
}
.logo{
	width: 80px;	
}
.btn-group > .navbar-toggle{
	margin-top: 0px;
	margin-right: 0px;
	border: none;
}
.list-flat > .list-group-item, .list-flat, .list-flat > .list-group-item:hover{
	background-color: transparent;
	border: none;
	box-shadow: 0 0px 0px rgba(0,0,0,0.075);
}
.list-group-item:first-child, .list-group-item:last-child{
	border:none;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}
.padding-zero{
	padding-left: 0px;
	padding-right: 0px;
	padding: 0px 0px;
}
.emulate-img{
	width: 150px;
	height: 150px;
}
.navbar-form{
	margin-bottom: 0px;
}
.btn-group.btn-group-lg.pull-right{
	margin-top: 8px;
	margin-bottom: 0px;
}
.btn-group.btn-group-lg.pull-right > li > a{
	color: rgb(167, 216, 247);
}
.btn-group.btn-group-lg.pull-right > .btn:active, .btn-group.btn-group-lg.pull-right > .btn.active{
  -webkit-box-shadow:0px 0px;
          box-shadow:0 0px 0px;
}
.panel {
	margin-bottom: 20px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px 0px;
	box-shadow: 0 0px 0px;
	background-color: rgba(0,0,0,0.2);
}
.list-group-item-special {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #ffffff;
	margin-bottom: 0.2px;
	border:0px;
}